@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');


body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 30%;
}

section {
    padding: 3em;
    height: 100vh;
    position: relative;
    box-sizing: border-box;

    /* blockquote {
        font-size: 2em;
        width: 30%;
        margin-top: 17%;
        position: absolute;
    } */
}

.page1 {
    background: black;
}

.aboutmepic {
    height: 100px;
    width: 100px;
    size: 100px;
}