@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif; 
}

h1 {
    font-size: 3.5vh;
    text-align: center;
    margin-top: 25%;
}

section {
    padding: 3em;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
}

blockquote {
    font-size: 2em;
    width: 30%;
    margin-top: 8%;
    position: absolute;
}

.page1 {
    background: hotpink;
}

span {
    width: 100%;
    background: red;
    display: block;
    height: 5px;
    margin-top: 20px;
}

img {
    position: absolute;
}

img:nth-of-type(1) {
    width: 40%;
    right: 0;
    top: 20%;
}

img:nth-of-type(2) {
    width: 25%;
    right: 40%;
    top: 29%;
    margin-top: 15%;
}

.aboutmepic {
    height: 100vh;
    width: 100vh;
    size: 100vh;
}

section:nth-child(odd) {
    background: gray;
}

.animation {
    height: 100vh;
    background-image: gray;
    position: relative;
    overflow: hidden;
}

.jpbikes {
    height: 450px;
    position: absolute;
    top: 100%;
    left: 0%;
}






